<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8" />
                <meta name="description" content="<%description%>" />
                <meta name="keywords" content="<%keywords%>" />
                <%meta%>
                <title><%title%></title>
                <%css%><%javascript%><%google_analitics_adsenceLink%>
        </head>
        <body>
                <header id="header"><%header%></header>
                <nav id="MainMenu"><%MainMenu%></nav>
                <section id="content"><%content%></section>
                <aside id="leftBar"><%leftBar%></aside>
                <aside id="rightBar"><%rightBar%></aside>
                <footer id="footer">
                        <ul>
                                <%footer%>
                                <li><a href="http://e-storefront.foransrealm.com/" title="Powered By Ben Ward's E-Storefront">Powered By Ben Ward's E-Storefront</a></li>
                        </ul>
                </footer>
                <%javascript_bottom%>
                <%google_analytics%>
        </body>
</html>